@()

@main("Here is the result:") {

<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("dist/css/bootstrap.min.css")">


<script src="https://code.jquery.com/jquery.js"></script>

<script src="@routes.Assets.at("dist/js/bootstrap.js")"></script>


<!-- 
       <li>  <img src="@routes.Assets.at("images/CODE.jpg")"  />    </li>

       <li>  <img src="@routes.Assets.at("images/SKYLINE.jpg")"  />    </li> -->

 <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="@routes.Assets.at("images/TOWERS.jpg")" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome to Algorithmic Trading Tutor.</h1>
              <p class="lead">A web site to teach the general public about financial trading algorithms.</p>
             
            </div>
          </div>
        </div>
        <div class="item">
          <img src="@routes.Assets.at("images/BOARD.jpg")"  alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>                 Pick a stock.</h1>
              <p class="lead">select a company of interest from one on the sites database .</p>
            
            </div>
          </div>
        </div>
        <div class="item">
          <img src="@routes.Assets.at("images/GRAPH.jpg")" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Monitor your selection</h1>
              <p class="lead">watch how your stock preforms throughtout the day, and select an algorithm to trade on your behalf.</p>
             
            </div>
          </div>
        </div>

         <div class="item">
          <img src="@routes.Assets.at("images/CODE.jpg")" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Code </h1>
              <p class="lead">Read through and download the code on the site, and upload your own algorithm via our API .</p>
             
            </div>
          </div>
        </div>


       <!--   <div class="item">
          <img src="@routes.Assets.at("images/SKYLINE.jpg")" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Search through the Sites Jargon Busting Dictionary</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div> -->


      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->







    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">

          <i class="fa fa-bar-chart-o fa-4x" id = "menu"></i> 
          
           <h3>Easy as 1 .. 2. . 3.  </h3>
          <h4>1.Pick a Stock.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.Select a Trading Algorithm.&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.Monitor Your Investment.    </h4>
         
          <h2>Trade, Play, Learn.</h2>
          <a class="btn btn-large btn-primary" href="/menu">Enter Site</a>
         <!--  <p><a class="btn" href="#">Enter Site -> &raquo;</a></p> -->
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">

          <i class="fa fa-bar-chart-o fa-4x" id = "menu"></i> 
         
          <img class="img-circle" data-src="holder.js/140x140">
          
          


<style>




    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


</style>



}