



<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

 
<style type="text/css" media="screen">
    body {
        overflow: hidden;
    }
    
    



.container { 
    width: 1380px; /* pick whatever width you want */
}
.container .child {
    width: 60%;
    padding-top: 75%;
}

#editor { 
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }


  </style>


       
<div  class="container" >


<pre id="editor"   >package models;

import java.util.ArrayList;


public class Stock {

  private String name;
  
  private ArrayList<TimePoint> timeandprice;

  private ArrayList<TimePoint> purchased;
    
  public Stock(String s ){
    this.name = s;
    this.timeandprice = new ArrayList<TimePoint>();
    this.purchased = new ArrayList<TimePoint>();
    
  }

  public String getName() {
    return name;
  }

  public ArrayList<TimePoint> getDataArray() {
    return this.timeandprice;
  }
  
  public TimePoint getDataPoint(int n) {
    return this.timeandprice.get(n);
  }
  
  public int DataLength() {
    return timeandprice.size();
  }

  public void setTimeandprice(TimePoint t) {
    this.timeandprice.add(t);
  }



  public ArrayList<TimePoint> getPurchaseArray() {
    return this.purchased;
  }
  
  public TimePoint getPurchasePoint(int n) {
    return this.purchased.get(n);
  }
  
  public int PurchaseLength() {
    return purchased.size();
  }

  public void setPurchase(TimePoint t) {
    this.purchased.add(t);
  }
  

  public double getOpen() {
    return this.timeandprice.get(0).getprice();
  }
  
  
  public String toString(){
    return "Stock" +":" + this.name  ;
    
  }
  


  public Stock VisitorAlgorithm ( Calendar start, Calendar end, int amount, int period){
       DateFormat dateFormat = new SimpleDateFormat("HH:mm");
       double totalCost = 0;
       double totalBought = 0;

       ArrayList buytime = buyTimes(start, end, period);

       double numberOfOrders = buytime.size() ;
       //    
       double indivOrderSizeDec = amount/numberOfOrders;     
       int indivOrderSize = (int)indivOrderSizeDec;

       for (int x = 0 ; x < this.DataLength(); x++){
         Date testd = this.getDataPoint(x).getTime(); /*System.out.println(s.getDataPoint(x).getTime());*/

         if (buytime.isEmpty()==false){
           Date buyDate = (Date) buytime.get(0);/*System.out.println(s.getDataPoint(x).getTime());*/

           if( testd.equals(buyDate) ){          
             if (buytime.size() ==1){
               indivOrderSize = (int) (amount - totalBought);}     
             
             TimePoint marker = new TimePoint(); 
             marker.setTime(testd);
             marker.setprice(this.getDataPoint(x).getprice());
             
             this.setPurchase(marker);
             
             System.out.println( "Purchased :"+indivOrderSize +", at "+dateFormat.format(testd)+ ", for " +this.getDataPoint(x).getprice());    
             System.out.println( " ");       

             totalCost += ( indivOrderSize* this.getDataPoint(x).getprice());         
             totalBought += indivOrderSize;

             buytime.remove(buyDate);
           }
         }
       }
       System.out.println( "Purchased a total of  :"+totalBought + " for $" +totalCost);
       System.out.println( "To aquire from a one of purchase, it would have cost : $" + (this.getDataPoint(0).getprice()*totalBought));
       
       if ( totalCost < this.getDataPoint(0).getprice()*totalBought)
         System.out.println("you saved : "+ (totalCost - this.getDataPoint(0).getprice()*totalBought) );
       else 
         System.out.println("you lost using the alg : "+ (totalCost - this.getDataPoint(0).getprice()*totalBought));
         
       return this;
     }
  
  
  





  
  
}

</pre>

</div>


<script src="@routes.Assets.at("javascripts/src/ace.js")"

 type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.getSession().setMode("ace/mode/java");
</script>


