@()

@import helper._


@main("Index") {


<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

<section>

<h1> Dictionary   </h1>  

</section>

 <section class="content">

<dl>

<h4><dt>Algorithm</dt></h4>
<dd>- A step-by-step procedure of well-defined instructions, which is stepped through to complete a calculation . <a  href="/Alg">Read More</a>.</dd>


<p><dl>

<h4><dt> Arbitrage</dt></h4>
<dd>- The practice of taking advantage of the same financial instrument, being price difference in differernt markets <a  href="/Arb">Read More</a>.</dd>
</dl></p>

<p>
<h4>
<dt>Impact-driven</dt></h4>
<dd>-Name given to a series of algorithms, which try and reduce the effect that trading an asset has on the assets price. . <a  href="/ImpactD">Read More</a> </dd>
</p>

<p>
<h4>
<dt>Liquidity </dt></h4>
<dd>The ease with which trades take place . <a  href="/Liqu">Read More</a> </dd>
</p>


<p><h4>
<dt>Order Slicing</dt></h4>
<dd>- Order-slicing based trading strategies split larger purchases into multiple, smaller child orders.  <a  href="/orderS">Read More</a>.</dd>
</p>

<p><h4>
<dt>Schedule Driven </dt></h4>
<dd>-Name given to a series of algorithms which follow a strictly defined trading trajectory - or schedule.  <a  href="/ScheduleD">Read More</a> </dd>
</p>

<p><h4>
<dt>Stock </dt> </h4>
<dd>-A type of security that signifies partial ownership in a corporation and represents a claim to part of the companies profits. <a  href="/Stock">Read More</a>   </dd>
</p>


</dl> 



 </section>




}