


@main("Index") {


<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>





    
    
    <h3>Algorithm parameters:</h3>
    


    <!-- Where submission is routed too   -->

<!-- START / end / amount / period -->





        

         

<form action="/upload" method="POST" enctype="multipart/form-data">
    
    
    <input type="file" name="picture">
    
    <p>
        <input type="submit">
    </p>
    

</form>






  
 
    <script src="/webjars/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!-- Enable tooltips. Used primarily to validate that JQuery + Bootstrap JS are loaded. Remove this script if you don't want tooltips. -->
    <script type="text/javascript">
    jQuery(function ($) {
        $("[rel='tooltip']").tooltip()
    });
    </script>
  </body>






<script> 


</script>




}