@()

@import helper._


@main("Index") {


<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

<section>

<h1> Liquidity </h1>  

</section>

 <section class="content">




 

<p> The degree to which an asset or security can be bought or sold in the market without affecting the asset's price. Liquidity is characterized by a high level of trading activity. Assets that can be easily bought or sold are known as liquid assets. </p>


 </section>




}