@()

@import helper._


@main("Index") {


<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

<section>

<h1> Order Slicing  </h1>  

</section>

 <section class="content">



<p> Order-slicing based trading strategies split larger purchases into multiple, smaller child orders. Traders do this to try and reduce the effect that buying a large amount of a stock will have on the stocks price.</p>

 Remember :  <p> Buying a large quantity of one stock signals an increase in the demand for the stock. An increase in the demand means that sellers can raise the price. </p>

<p> The average price based algorithm , namely TWAP and VWAP represent the first generation of impact-driven algorithms. These algorithms are 
schedule based algorithms. They do not respond to changes in stock they are monitorings price or volume . There aim is to completely execute the order within the given timeframe, acoring to the parameters they are given , irrespective of other market conditions</p>







 </section>




}