@(Stock: Stock)




@main("Index") {


<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>



<h1>Title of page</h1>



 
        <section class="content">content</section>


        <div id="container" style="height: 500px; min-width: 600px"></div>

<img src="@routes.Assets.at("images/city.jpg")" width="280" height="220" />   




<script> 

$(function () {



   var arClosingData = [ @dataLoop(Stock)

    ];

     var volumeD = [ @dataLoopVol(Stock)

    ];


    $('#container').highcharts('StockChart', {

        rangeSelector: {
            selected: 1
        },

        title: {
            text: 'Test Stock Price'
        },

         yAxis: [{
                title: {
                    text: 'OHLC'
                },
                height: 200,
                lineWidth: 2
            }, {
                title: {
                    text: 'Volume'
                },
                top: 300,
                height: 80,
                offset: 0,
                lineWidth: 3
            }],


        series: [{
            name: 'Test',
            data: arClosingData,
            id : 'dataseries',
            tooltip: {
                valueDecimals: 2
            }
        },{
                type: 'column',
                name: 'Volume',
                data: volumeD,
                yAxis: 1
            }



   


        ]
    });
});

</script>




}