@(Stock: Stock, helloForm: Form[Application.Hello] , selection: String )

@import helper._


@main("Index") {


<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

<section>

<h2>Time Weighted Average Price Algorithm . : Purchasing @selection </h2>  

</section>

 <section class="content">


<p>The Time Weighted Average Price Algorithm is a natural extension of early<a  href="/orderS"> Order Slicing</a> based trading strategies.</p>

<p>The Time Weighted Average Price Algorithm  belongs to the family of <a  href="/ImpactD"> Impact Driven</a>  Trading Algorithms</p>

<p> The average price based algorithm , namely TWAP and VWAP represent the first generation of impact-driven algorithms. These algorithms are 
schedule based algorithms. They do not respond to changes in stock they are monitorings price or volume . There aim is to completely execute the order within the given timeframe, acoring to the parameters they are given , irrespective of other market conditions</p>

 The benchmark that T.W.A.P algorithm follows is a time schedule from the start of the days trading .




 </section>


        <div id="container" style="height: 500px; min-width: 600px"></div>




<section>



<div>


<h3>

<p> Try filling in the feilds below, to see the T.W.A.P algorithm in action : </p>

</h3>



</div>

</section>



	<section>

@form(action = routes.Application.sayHello2, args = 'id -> "helloform") {
    @inputText(
        field = helloForm("startHour"),
        args = '_label -> "Start Time Hour?", 'placeholder -> "10"
    )
        
        @inputText(
            field = helloForm("startMin"),
            args = '_label -> "Start Time Minutes?", 'size -> 3, 'placeholder -> 30
        )

           @inputText(
            field = helloForm("endHour"),
            args = '_label -> "End Time Hour?", 'placeholder -> "3"
        )
        
        @inputText(
            field = helloForm("endMin"),
            args = '_label -> "End Time Minutes?", 'size -> 3, 'placeholder -> 00
        )

         @inputText(
            field = helloForm("amount"),
            args = '_label -> "Amount of shares to purchase?", 'size -> 3, 'placeholder -> 1000
        )

         @inputText(
            field = helloForm("period"),
            args = '_label -> "Purchase every ? Minutes", 'size -> 3, 'placeholder -> 45
        )
        
        <p class="buttons"> 
            <input type="submit">
        <p>
        
    }
 
        
</section>




<script> 

$(function () {



   var arClosingData = [ @dataLoop(Stock)

    ];

     var volumeD = [ @dataLoopVol(Stock)

    ];


    $('#container').highcharts('StockChart', {

        rangeSelector: {
            selected: 1
        },

       title: {
            text: 'TWAP Algorithm'
        },

         yAxis: [{
                title: {
                    text: 'Price'
                },
                height: 200,
                lineWidth: 2
            }, {
                title: {
                    text: 'Volume'
                },
                top: 300,
                height: 100,
                offset: 0,
                lineWidth: 3
            }],


        series: [{
            name: 'Test',
            data: arClosingData,
            id : 'dataseries',
            tooltip: {
                valueDecimals: 2
            }
        },{
                type: 'column',
                name: 'Volume',
                data: volumeD,
                yAxis: 1
            }



   


        ]
    });
});

</script>



<style type="text/css">




</style>>









}