@(Stock: Stock, helloForm: Form[Application.Hello], multi: Double, single:Double)

@import helper._


@main("Index") {


<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

<section>

<h2>Time Weighted Average Price Algorithm . </h2>  

</section>

 <section class="content">



<p>The Time Weighted Average Price Algorithm is a natural extension of early order-slicing based trading strategies. By splitting larger orders into smaller, multiple child orders,   traders try and reduce the effect that buying a stock will have on the stocks price.</p>

 Remember :  <p> Buying a large quantity of one stock will increase the demand it , and subsequently push up the price. </p>

<p> The average price based algorithm , namely TWAP and VWAP represent the first generation of impact-driven algorithms. These algorithms are 
schedule based algorithms. They do not respond to changes in stock they are monitorings price or volume . There aim is to completely execute the order within the given timeframe, acoring to the parameters they are given , irrespective of other market conditions</p>







 </section>

        <div id="container" style="height: 500px; min-width: 600px"></div>




<section>



<div>



<h2>Results. </h2>  

<h3> Purchase price if aquired on a one off purchase :   @single </h3>

<h3> Purchase price using TWAP Algorithm  :   @multi    </h3>


<p> The average price based algorithm , namely TWAP and VWAP represent the first generation of impact-driven algorithms. These algorithms are 
schedule based algorithms. They do not respond to changes in stock they are monitorings price or volume . There aim is to completely execute the order within the given timeframe, acoring to the parameters they are given , irrespective of other market conditions</p>


</div>

</section>







<script> 

$(function () {



   var arClosingData = [ @dataLoop(Stock)

    ];

     var volumeD = [ @dataLoopVol(Stock)

    ];


    $('#container').highcharts('StockChart', {

        rangeSelector: {
            selected: 1
        },

        title: {
            text: 'Test Stock Price'
        },

         yAxis: [{
                title: {
                    text: 'OHLC'
                },
                height: 200,
                lineWidth: 2
            }, {
                title: {
                    text: 'Volume'
                },
                top: 300,
                height: 100,
                offset: 0,
                lineWidth: 3
            }],


        series: [{
            name: 'Test',
            data: arClosingData,
            id : 'dataseries',
            tooltip: {
                valueDecimals: 2
            }
        },  { type : 'flags',
           data : [ 
           @DP(Stock)
           

        ],
        onSeries : 'dataseries',
        shape : 'circlepin',
        width : 16
      },{
                type: 'column',
                name: 'Volume',
                data: volumeD,
                yAxis: 1
            }



   


        ]
    });
});

</script>

<style type="text/css">




</style>>









}